#gh-index { font: 14px/1.6em Menlo, monospace; max-width: 500px; margin: 0 auto; }

#gh-index a { text-decoration: none; }

#gh-index .header { padding: .2em .3em; line-height: 3em; }

#gh-index .header span { position: relative; top: -3px; color: #777; font-size: 14px; }

#gh-index .uplink { font-size: 18px; color: #777; font-weight: bold; }

#gh-index .uplink span { padding-left: 5px; }

#gh-index .uplink:hover span { padding-left: 9px; }

#gh-index ul { list-style: none; padding: 0; margin: 0; border-bottom: 1px solid #EFEFEF; }

#gh-index li { border-top: 1px solid #EFEFEF; }

#gh-index li a { padding-left: .3em; display: block; line-height: 2em; }

#gh-index li .octicon { width: 1em; }

#gh-index .blob a { color: #1A8BED; }

#gh-index .blob:hover a { background-color: #F2F8FD; }

#gh-index .tree a { color: #CE8400; }

#gh-index .tree:hover a { background-color: #FFFEE3; }

#gh-index .footer { font: 12px/50px 'Open Sans', sans-serif; color: #999; text-align: center; }

#gh-index .footer a { color: #999; }

#gh-index .footer a:hover { color: #777; }
